#wrapper{
width 500px:
margin 0 auto 0 auto;
border: 1px solid #000;
}

body
{ 
 background-image: url("https://drive.google.com/uc?id=0B_J0PkNHgtOXQ2lFVzVLRW16TDA");
}


.main {
border; 1px solid #000;
}
nav, article. aside{
float; left;
border; 1px solid #000;
}

nav, aside{
width: 98px:
}
article{
width:300px;
}

.bottom{
border 1px solid #000;
clear:left;
}
